/****** Colors ***********/
$light-grey: #f3f3f3;
$dark-grey: #101010;
$dark-grey-plus: #353535;
$dark-max: #000000;
$grey-icon: #7e7e7e;
$grey--location: #eaeaea;
$bg-grey-color: #f6f6f6;
$bg-light-color: #ffffff;
$purple: #9356dc;
$green-light:#99E2D0;
$green:#008766;
$black: #000000;

/****** Lien Go Back Header - Page Restaurants ***********/
.icon-goback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height:64px;
    position: absolute;
    top: 0px;
    left: 14px;
  
    a {
      color: $dark-grey-plus;
    }
  }

.restaurant-image { 
    height: 270px;
    img {
        height: 270px;
        object-fit: cover;
        width: 100%;
        object-position: 50% 45%;        
    }  
}

main {
    background-color: $bg-grey-color;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -55px;
    
    .menu {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        }
    }

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    .icon-favorite {
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin: 0px 20px 0px 10px;
      }

    h1 {
    color: var(--Black, #101010);
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    letter-spacing: .05rem;
    }
}

/****** Affichage des plats animé ***********/
$prog-bar-dur: 0ms;
$prog-bar-delay: 0ms;
$slide1-delay: $prog-bar-dur + $prog-bar-delay;
.slide1 {
    animation: slide1 1000ms $slide1-delay;
}
.slide2 {
    animation: slide1 1500ms $slide1-delay;
}
.slide3 {
    animation: slide1 2000ms $slide1-delay;
}

@keyframes slide1 { 
    0% {
            transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}

.categorie-menu {
    display: flex;
    flex-direction: column;
    
    .titre-categorie {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 5px;
        }

    .filet-titre-categorie {
        display:block;
        width: 40px;
        border-bottom: $green-light solid 3px;
        }

    .dish {
        margin-top:15px;
        margin-bottom: 15px;
        }

    .card {
        position: relative;
        overflow: hidden;
        height: 69px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
        background-color: $bg-light-color;
        padding: 0px;
        margin-bottom: 14px;
        }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: width 0.5s;
        }
              
    .card:hover .content {
        width: calc(100% - 60px);
        }
              
    .hidden-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        background-color: $green-light;
        color: $bg-light-color; 
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.4s;
        transform: translateX(100%);
        }
              
    .card:hover .hidden-icon {
        transform: translateX(0%);
          }

    .card-content {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        padding: 0px;
        }

    .dish-detail {
        display:flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        } 
        
    h3 {
        overflow: hidden;
        white-space: nowrap;
        max-width: 500px;
        text-overflow: ellipsis;
        margin:0;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        line-height: 28px;
        }

    h4 {
        overflow-y: scroll;
        height: 20px;
        color: $dark-max;
        text-overflow: ellipsis;
        font-family: Roboto;
        font-size: 15.04px;
        font-style: normal;
        font-weight: 300;
        }

    .price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $dark-grey-plus;
        text-align: center;
        font-size: 15.043px;
        height: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        padding: 15px;
        padding-left: 0px;
        }         
    }
  
    .btn-commander {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        padding-top: 20px;

        .cta {
            padding-left: 48px;
            padding-right: 48px;
        }
    }

    @media (min-width: 768px) {
        body { 
            background-color: $bg-light-color;
        }
    
        main {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;

            .menu {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                padding-top: 50px;
                }
            }

        .header-menu {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            height: 40px;
            
            h1 {
            padding-right: 10px;
            }
        }

        .icon-goback {
            height:96px;
            left: 24px;
        }
    }

    @media (min-width:1024px) {
        main {
        width: 1005px;
        margin-top: 72px;
       
        .menu {
            width: 634px;
            }
        }

        .header-menu {
            width: 634px;
      
            h1 {
            padding-right: 10px;
            }
        }

        .icon-goback {
            height:96px;
            left: 24px;
        }
        
        .restaurant-image { 
            img {
            height: 385px;
            object-fit: cover;
            object-position: 50% 60%;    
            }
        }
    }

@media (min-width: 768px) and (max-width: 1023px) {
    main {
        width: 700px;
       
        .menu {
            width: 500px;
        }
    }

    .header-menu {
        width: 500px;
 
        h1 {
        padding-right: 10px;
        }
    }

    .restaurant-image { 
        img {
        height:260px;
        object-fit: cover;
        }
    }

    .icon-goback {
        height:96px;
        left: 24px;
    }
 }

/****** Nom des plats - text-overflow ... ***********/
 @media (min-width: 768px) and (max-width: 1023px) {
    .categorie-menu h3 {
        max-width: 400px;            
    }
 }

 @media (min-width: 375px) and (max-width: 767px) {
    .categorie-menu h3 {
        max-width: 220px;            
    }
 }

 @media (max-width: 374px) {
    .header-menu h1 {
        font-size: 24px;
        }
    .categorie-menu h3 {
    max-width: 180px;
    }
}