@charset "UTF-8";
/****** Colors ***********/
/****** Lien Go Back Header - Page Restaurants ***********/
.icon-goback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 64px;
  position: absolute;
  top: 0px;
  left: 14px;
}
.icon-goback a {
  color: #353535;
}

.restaurant-image img {
  width: 100%;
  height: 275px;
}

main {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
}
main .menu {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}
.header-menu .icon-favorite {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin: 0px 20px 0px 10px;
}
.header-menu h1 {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

/****** Affichage des plats animé ***********/
.slide1 {
  animation: slide1 1000ms 0ms;
}

.slide2 {
  animation: slide1 1500ms 0ms;
}

.slide3 {
  animation: slide1 2000ms 0ms;
}

@keyframes slide1 {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.categorie-menu {
  display: flex;
  flex-direction: column;
}
.categorie-menu .titre-categorie {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 5px;
}
.categorie-menu .filet-titre-categorie {
  display: block;
  width: 40px;
  border-bottom: #99E2D0 solid 3px;
}
.categorie-menu .dish {
  margin-top: 15px;
  margin-bottom: 15px;
}
.categorie-menu .card {
  position: relative;
  overflow: hidden;
  height: 69px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  background-color: #ffffff;
  padding: 0px;
  margin-bottom: 10px;
}
.categorie-menu .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: width 0.5s;
}
.categorie-menu .card:hover .content {
  width: calc(100% - 60px);
}
.categorie-menu .hidden-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s;
  transform: translateX(100%);
}
.categorie-menu .card:hover .hidden-icon {
  transform: translateX(0%);
}
.categorie-menu .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.categorie-menu .dish-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}
.categorie-menu h3 {
  overflow: hidden;
  white-space: nowrap;
  max-width: 500px;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  line-height: 28px;
}
.categorie-menu h4 {
  overflow-y: scroll;
  height: 20px;
  color: #000000;
  text-overflow: ellipsis;
  font-family: Roboto;
  font-size: 15.04px;
  font-style: normal;
  font-weight: 300;
}
.categorie-menu .price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #353535;
  text-align: center;
  font-size: 15.043px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px;
  padding-left: 0px;
}

.btn-commander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
.btn-commander .cta {
  padding-left: 48px;
  padding-right: 48px;
}

@media (min-width: 768px) {
  body {
    background-color: #ffffff;
  }
  main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  main .menu {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  .header-menu {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .header-menu h1 {
    padding-right: 10px;
  }
  .restaurant-image img {
    object-position: 50% 58%;
  }
  .icon-goback {
    height: 96px;
    left: 24px;
  }
}
@media (min-width: 1024px) {
  main {
    width: 1005px;
  }
  main .menu {
    width: 634px;
  }
  .header-menu {
    width: 634px;
  }
  .header-menu h1 {
    padding-right: 10px;
  }
  .restaurant-image img {
    height: 385px;
    object-fit: cover;
  }
  .icon-goback {
    height: 96px;
    left: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    width: 700px;
  }
  main .menu {
    width: 500px;
  }
  .header-menu {
    width: 500px;
  }
  .header-menu h1 {
    padding-right: 10px;
  }
  .restaurant-image img {
    height: 323px;
    object-fit: cover;
  }
  .icon-goback {
    height: 96px;
    left: 24px;
  }
}
/****** Nom des plats - text-overflow ... ***********/
@media (min-width: 768px) and (max-width: 1023px) {
  .categorie-menu h3 {
    max-width: 400px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .categorie-menu h3 {
    max-width: 230px;
  }
}
@media (max-width: 374px) {
  .header-menu h1 {
    font-size: 24px;
  }
  .categorie-menu h3 {
    max-width: 180px;
  }
}

/*# sourceMappingURL=menu.css.map */
