/****** Colors ***********/
$light-grey: #f3f3f3;
$dark-grey: #101010;
$dark-grey-plus: #353535;
$dark-max: #000000;
$grey-icon: #7e7e7e;
$grey--location: #eaeaea;
$bg-grey-color: #f6f6f6;
$bg-light-color: #ffffff;
$purple: #9356dc;
$green-light:#99E2D0;
$green:#008766;
$black: #000000;

/****** Mixins ***********/

@mixin maxi-large {
  max-width: 1070px;
  margin: auto;
}

@mixin desktop-large {
  max-width: 960px;
  margin: auto;
}

@mixin cta-button {
  display: inline-block;
  border-radius: 50px;
  padding: 16px 26px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  background-color: rgb(147, 86, 220);
  background-image: linear-gradient(-200deg, rgba(255, 121, 218, .8), rgba(255,255,255,0));
  transition: background-color 1s;
}

@mixin cta-button-hover {
  background-color: rgb(147, 86, 220, .7);
  background-image: linear-gradient(-300deg, rgba(255, 121, 218, .6), rgba(255,255,255,0));
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 10px;
  transition: background-color 1s;
}

@mixin cta-button-light {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  background: $bg-grey-color;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

/****** Fonts ***********/
* {
  font-family: "Roboto", sans-serif;
}

.ohmyfood-font {
  font-family: "Shrikhand", cursive;
}
/****** General ***********/
* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-grey-color;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: $black;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 5px;

    img {
      object-fit: cover;
      object-position: 50% 60%;   
    }
  }

/****** Header ***********/
header {
  display: flex;
  width: 100%;
}

.logo-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $bg-light-color;
}

.logo-header {
  width: 100%;
	background-image: url(../images/logo/ohmyfood@2x.svg);
	background-repeat: no-repeat;
  font-size: 0px;
  color: transparent;

  @media (max-width: 767px) {
    height: 64px;
    background-position: center 21px ;
    background-size: 186px  28px;
  }

  @media (min-width: 768px) {
    height: 96px;
    background-position: center 31px ;
    background-size: 230px  35px;
  }
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $grey--location;
  width: 100%;
  height: 50px;

  @media (max-width: 767px) {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
  }

  a {
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
  }
}

/****** Réserver-et-Fonctionnement ***********/
.reserver-fonctionnement {
  display: flex;
  flex-direction: column;
}

.reserver-explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 50px 0px;

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: $dark-grey-plus;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .reserver-explorer {
    padding: 20px 0px 50px 0px;

    h2 {
    padding: 20px 0px 15px 0px;
    max-width: 280px;
    }

    h3 {
    max-width: 320px;
    }
  }
}

  @media (min-width: 768px) {
    .reserver-explorer {
      padding: 20px 0px 30px 0px;

      h2 {
      font-size: 40px;
      padding: 10px 0px 25px 0px;
    }   
  }
}

/****** Lien - Explorer nos restaurants ***********/
.cta {
  @include cta-button;

    &:hover {
      @include cta-button-hover;
    }
}
/****** Fonctionnement ***********/

.fond-fonctionnement {
  background-color: $bg-light-color;
  padding: 50px 20px 40px 20px;
}

@media (max-width: 767px) {
  .trois-boutons-fonctionnement {
    display:flex;
    flex-direction:column;
    padding: 20px 0px 0px 10px;
    gap: 10px;
    }
}

@media (min-width: 768px) {
  .fond-fonctionnement {
    padding-bottom: 35px;


    .trois-boutons-fonctionnement {
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      margin: auto;
      padding: 30px 0px 0px 15px;
      }
    }
  }

@media (min-width: 768px) and (max-width: 1024px)  {
    .fonctionnement {
    @include desktop-large;
    }
  }

@media (min-width: 1025px) {
    .fonctionnement {
    @include maxi-large;
    }
  }

.button-fonctionnement {
  display: flex;
  flex-direction: column;

  .card {
    @include cta-button-light;
      @media (min-width: 768px) and (max-width: 939px) {
        width: 170px;
      }
      @media (min-width: 940px) and (max-width: 1024px) {
        width: 230px;
      }
      @media (min-width: 1025px) {
        width: 245px;
      }
   
    a {
      color: $dark-max;
    }

    @media (max-width: 359px) {
      a {
        font-size: 15px;
        }
      }

    i {
      color: $grey-icon;
      padding-top: 7px;
      margin-right: 20px;
      margin-left: 10px;
      font-size: 18px;
      transition: color 0.4s;
    }

    &:hover {
      cursor: pointer;
      transition: color 0.4s;
    
      i {
        color: $purple;
      }
    }

    @media (min-width: 768px) and (max-width: 939px) {
      i { 
        display: block;
        float: left;
        height: 20px;
      }
    }

    @media (max-width: 359px) {
      i { 
        margin-right: 10px;
      }
    }
  }

  .puce-number {
    display: block;
    width: 15px;
    height: 15px;
    background-color: $purple;
    color: $bg-light-color;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    margin-left: -40px;
    margin-right: 10px;
  }
}

/****** Restaurants - Global ***********/
  .restaurants {
    padding: 60px 17px 60px 17px;

    h2 {
      padding-bottom: 15px;
    }
  }

  .display-restaurant {
    display: flex;
    flex-direction: column;   
  }
  @media (max-width: 767px) {
    .display-restaurant {
      margin-top: 10px;
    }
  }

  .restaurant-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 5px;

      .card {
        padding: 0px;
        padding-bottom: 3px;  
        }
        
      img {
          width: 100%;
          height: 170px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
      }

      h3 {
        font-size: 18px;
        color: #000;
        text-align: left;
        font-weight: 700;
        letter-spacing: 0.02rem;
        padding-bottom: 3px;
      }

      a {
        font-weight: 300;
        padding-top: 4px;
        padding-bottom: 3px;
      }
    }
  
  .box-restaurant article.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  } 

  .card-content { 
    display: flex;
    padding: 15px;

    .restaurant-name {
      width: 90%;
    }
  }

  .card-and-favorite {
    background-color: transparent;
  }

@media (min-width: 768px) and (max-width: 1024px)  {
    .restaurants {
      @include desktop-large;
      }
}
    
@media (min-width: 1025px) {
    .restaurants {
      @include maxi-large;
      }
}

@media (min-width: 768px) {
    .restaurants {
      padding-top: 30px;

      h2 {
          padding-bottom: 15px;
        }
      }

  .restaurant-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px 40px 0px;
  }

  .card-and-favorite {
    background-color: transparent;
    width: 45%;
  }
}

  /* Favorite icon */
  .icon-favorite {
    display: block;
    float: right;
    width: 50px;
    height: 30px;
    margin-top: -55px;
  }

.gradient-heart .material-symbols-sharp {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 30px;      
    background-color: rgb(147, 86, 220);
    background-image: linear-gradient(-200deg, rgba(255, 121, 218, .8), rgba(255,255,255,0));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    transition-timing-function: ease-out;
    transition: all 450ms;
    }

.empty-heart .material-symbols-sharp {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
    font-size: 30px;      
    background:#000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    transition-timing-function: ease-in;
    transition: all 450ms;
  }

  /* How To display and hide the favorite icon */
  .container-heart {
    font-size: 14px;
    cursor: pointer;
    caret-color: transparent;
    display: flex;
    align-items: center;
  }
  
    /* Hide the browser's default checkbox */
    .container-heart input {
    display: none;
    }
  
    /* Hide the checked checkbox */
    .img-checked {
    display: none;
    }
  
    /*  Display the checked image when checked */
    .container-heart input:checked ~ .img-checked {
    display: inline;
    }
  
    /*  Hide the unchecked image when checked */
    .container-heart input:checked ~ .img-unchecked {
    display: none;
    }
 
.new-restaurant {
  display: block;
  float: right;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  background-color: $green-light;
  color: $green;
  border-radius: 3px;
  padding: 7px 14px 6px 12px;
  margin-top: -160px;
  margin-right: 12px;
}

/****** Footer ***********/
  footer {
    display: flex;
    flex-direction: column;
    background-color: $dark-grey-plus ;
    padding: 22px 25px 12px 25px;

    @media (min-width: 768px) {
      flex-direction: row-reverse;
      padding: 60px 70px 12px 40px;
    }

    h2 {
      padding-bottom: 18px;
      font-size: 18px;
      font-weight: 100;
      color: $bg-light-color;
    }

    .footer-links {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        margin-left: 50px;
      }
    }

    a {
      color: $bg-light-color;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 9px;
    }

    i {
      width:20px;
    }
  }

  @media (min-width: 768px) {
    .footer-links {
      flex-direction: row;
      margin-left: 50px;

    a {
      padding-left: 15px;   
    }
  }

  .item-1 {
  order: 1;
  margin-top: -2px;
  }

  .item-2 {
  order: 3;
  }

  .item-3 {
  order: 2;
  padding: 0px 70px 0px 0px;
  }
}