@charset "UTF-8";
/****** Colors ***********/
/****** Mixins ***********/
/****** Fonts ***********/
* {
  font-family: "Roboto", sans-serif;
}

.ohmyfood-font {
  font-family: "Shrikhand", cursive;
}

/****** General ***********/
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

/****** Header ***********/
header {
  display: flex;
  width: 100%;
}

.logo-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
}

.logo-header {
  padding-top: 21px;
  padding-bottom: 14px;
}
.logo-header img {
  display: block;
  width: 186px;
  height: 28px;
  background-size: 100%;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
}
.location a {
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
}

/****** Lien Go Back Header - Page Restaurants ***********/
.icon-goback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 63px;
  position: absolute;
  top: 0px;
  left: 14px;
}
.icon-goback a {
  color: #353535;
}

/****** Réserver-et-Fonctionnement ***********/
.reserver-fonctionnement {
  display: flex;
  flex-direction: column;
}

/****** Réservez et Fonctionnement ***********/
.reserver-explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
.reserver-explorer h1 {
  text-align: center;
  padding: 20px 0px 15px 0px;
}
.reserver-explorer h2 {
  text-align: center;
}

/****** Lien - Explorer nos restaurants ***********/
.cta {
  display: inline-block;
  background: rgb(147, 86, 220);
  background: linear-gradient(354deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 50px;
  padding: 16px 30px;
  margin: 30px 0px 30px 0px;
  text-decoration: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.cta:hover {
  background: rgb(147, 86, 220);
  background: linear-gradient(349deg, rgb(147, 86, 220) 0%, rgba(255, 121, 218, 0.7511379552) 100%);
}

/****** Fonctionnement ***********/
.fonctionnement {
  background-color: #FFFFFF;
  padding: 50px 10px 50px 20px;
}
.fonctionnement h1 {
  padding: 0px 0px 30px 0px;
}

.buttons-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 20px 10px;
}

.btn-fonctionnement {
  width: 100%;
  height: 80px;
  margin-bottom: 13px;
}

.card button {
  display: inline-block;
  background: #f6f6f6;
  border-radius: 25px;
  border: none;
  padding: 25px 25px;
  text-decoration: none;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
.card i {
  color: #7E7E7E;
  padding-right: 20px;
  padding-left: 10px;
}
.card i:hover {
  color: #9356DC;
}

.puce-number {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #9356DC;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 300;
  padding: 5px;
  margin-top: -45px;
  margin-left: -10px;
}

/*# sourceMappingURL=style.css.map */
