@charset "UTF-8";
/****** Colors ***********/
/****** Mixins ***********/
/****** Fonts ***********/
* {
  font-family: "Roboto", sans-serif;
}

.ohmyfood-font {
  font-family: "Shrikhand", cursive;
}

/****** General ***********/
* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}
.card img {
  object-fit: cover;
}

/****** Header ***********/
header {
  display: flex;
  width: 100%;
}

.logo-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.logo-header {
  width: 100%;
  background-image: url(../images/logo/ohmyfood@2x.svg);
  background-repeat: no-repeat;
  font-size: 0px;
  color: transparent;
}
@media (max-width: 767px) {
  .logo-header {
    height: 64px;
    background-position: center 21px;
    background-size: 186px 28px;
  }
}
@media (min-width: 768px) {
  .logo-header {
    height: 96px;
    background-position: center 31px;
    background-size: 230px 35px;
  }
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
}
@media (max-width: 767px) {
  .location {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
  }
}
.location a {
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
}

/****** Lien Go Back Header - Page Restaurants ***********/
.icon-goback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 63px;
  position: absolute;
  top: 0px;
  left: 14px;
}
.icon-goback a {
  color: #353535;
}

/****** Réserver-et-Fonctionnement ***********/
.reserver-fonctionnement {
  display: flex;
  flex-direction: column;
}

.reserver-explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 50px 0px;
}
.reserver-explorer h2 {
  text-align: center;
}
.reserver-explorer h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: #353535;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .reserver-explorer {
    padding: 20px 0px 50px 0px;
  }
  .reserver-explorer h2 {
    padding: 20px 0px 15px 0px;
    max-width: 280px;
  }
  .reserver-explorer h3 {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  .reserver-explorer {
    padding: 20px 0px 30px 0px;
  }
  .reserver-explorer h2 {
    font-size: 40px;
    padding: 10px 0px 25px 0px;
  }
}
/****** Lien - Explorer nos restaurants ***********/
.cta {
  display: inline-block;
  border-radius: 50px;
  padding: 16px 26px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  background-color: rgb(147, 86, 220);
  background-image: linear-gradient(-200deg, rgba(255, 121, 218, 0.8), rgba(255, 255, 255, 0));
  transition: background-color 1s;
}
.cta:hover {
  background-color: rgba(147, 86, 220, 0.7);
  background-image: linear-gradient(-300deg, rgba(255, 121, 218, 0.6), rgba(255, 255, 255, 0));
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 10px;
  transition: background-color 1s;
}

/****** Fonctionnement ***********/
.fond-fonctionnement {
  background-color: #ffffff;
  padding: 50px 20px 40px 20px;
}

@media (max-width: 767px) {
  .trois-boutons-fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 10px;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .fond-fonctionnement {
    padding-bottom: 35px;
  }
  .fond-fonctionnement .trois-boutons-fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 30px 0px 0px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement {
    max-width: 960px;
    margin: auto;
  }
}
@media (min-width: 1025px) {
  .fonctionnement {
    max-width: 1070px;
    margin: auto;
  }
}
.button-fonctionnement {
  display: flex;
  flex-direction: column;
}
.button-fonctionnement .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  background: #f6f6f6;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 939px) {
  .button-fonctionnement .card {
    width: 170px;
  }
}
@media (min-width: 940px) and (max-width: 1024px) {
  .button-fonctionnement .card {
    width: 230px;
  }
}
@media (min-width: 1025px) {
  .button-fonctionnement .card {
    width: 245px;
  }
}
.button-fonctionnement .card a {
  color: #000000;
}
@media (max-width: 359px) {
  .button-fonctionnement .card a {
    font-size: 15px;
  }
}
.button-fonctionnement .card i {
  color: #7e7e7e;
  padding-top: 7px;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 18px;
  transition: color 0.4s;
}
.button-fonctionnement .card:hover {
  cursor: pointer;
  transition: color 0.4s;
}
.button-fonctionnement .card:hover i {
  color: #9356dc;
}
@media (min-width: 768px) and (max-width: 939px) {
  .button-fonctionnement .card i {
    display: block;
    float: left;
    height: 20px;
  }
}
@media (max-width: 359px) {
  .button-fonctionnement .card i {
    margin-right: 10px;
  }
}
.button-fonctionnement .puce-number {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #9356dc;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 300;
  padding: 5px;
  margin-left: -40px;
  margin-right: 10px;
}

/****** Restaurants - Global ***********/
.restaurants {
  padding: 60px 17px 60px 17px;
}
.restaurants h2 {
  padding-bottom: 15px;
}

.display-restaurant {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .display-restaurant {
    margin-top: 10px;
  }
}
.restaurant-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 5px;
}
.restaurant-cards .card {
  padding: 0px;
  padding-bottom: 3px;
}
.restaurant-cards img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant-cards h3 {
  font-size: 18px;
  color: #000;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.02rem;
  padding-bottom: 3px;
}
.restaurant-cards a {
  font-weight: 300;
  padding-top: 4px;
  padding-bottom: 3px;
}

.box-restaurant article.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-content {
  display: flex;
  padding: 15px;
}
.card-content .restaurant-name {
  width: 90%;
}

.card-and-favorite {
  background-color: transparent;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants {
    max-width: 960px;
    margin: auto;
  }
}
@media (min-width: 1025px) {
  .restaurants {
    max-width: 1070px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .restaurants {
    padding-top: 30px;
  }
  .restaurants h2 {
    padding-bottom: 15px;
  }
  .restaurant-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px 40px 0px;
  }
  .card-and-favorite {
    background-color: transparent;
    width: 45%;
  }
}
/* Favorite icon */
.icon-favorite {
  display: block;
  float: right;
  width: 50px;
  height: 30px;
  margin-top: -55px;
}

.gradient-heart .material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 30px;
  background-color: rgb(147, 86, 220);
  background-image: linear-gradient(-200deg, rgba(255, 121, 218, 0.8), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-timing-function: ease-out;
  transition: all 450ms;
}

.empty-heart .material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  font-size: 30px;
  background: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-timing-function: ease-in;
  transition: all 450ms;
}

/* How To display and hide the favorite icon */
.container-heart {
  font-size: 14px;
  cursor: pointer;
  caret-color: transparent;
  display: flex;
  align-items: center;
}

/* Hide the browser's default checkbox */
.container-heart input {
  display: none;
}

/* Hide the checked checkbox */
.img-checked {
  display: none;
}

/*  Display the checked image when checked */
.container-heart input:checked ~ .img-checked {
  display: inline;
}

/*  Hide the unchecked image when checked */
.container-heart input:checked ~ .img-unchecked {
  display: none;
}

.new-restaurant {
  display: block;
  float: right;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
  padding: 7px 14px 6px 12px;
  margin-top: -160px;
  margin-right: 12px;
}

/****** Footer ***********/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px 12px 25px;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    padding: 60px 70px 8px 40px;
  }
}
footer h2 {
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: 100;
  color: #ffffff;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .footer-links {
    flex-direction: row;
    margin-left: 50px;
  }
}
footer a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 9px;
}
footer i {
  width: 20px;
}

@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    margin-left: 50px;
  }
  .footer-links a {
    padding-left: 15px;
  }
  .item-1 {
    order: 1;
  }
  .item-2 {
    order: 3;
  }
  .item-3 {
    order: 2;
    padding: 0px 70px 0px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
