/****** Variables ***********/
/****** Colors ***********/
        $light-grey: #F3F3F3;
        $dark-grey: #101010;
        $dark-grey-plus: #353535;
        $dark-max:#000000;
        $grey-icon: #7E7E7E;
        $grey--location: #EAEAEA;
        $bg-grey-color: #f6f6f6;
        $bg-light-color: #FFFFFF;
        $purple: #9356DC;


/****** Mixins ***********/
@mixin cta-button {
    display: inline-block;
    background: rgb(147,86,220);
    background: linear-gradient(354deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border-radius: 50px;
    padding: 20px 30px;
    margin: 30px 0px 30px 0px;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

@mixin cta-button-hover {
    background: rgb(147,86,220);
    background: linear-gradient(230deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}

@mixin cta-button-light {
    display: inline-block;
    background: $bg-grey-color;
    border-radius: 25px;
    border:none;
    padding: 25px 25px;
    text-decoration: none;
    color: $dark-max;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}
/****** Fonts ***********/
* { font-family: 'Roboto', sans-serif;}

.ohmyfood-font {font-family: 'Shrikhand', cursive;}


/****** General ***********/
* { margin: 0; padding: 0; }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:$bg-grey-color;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/****** Header ***********/
header {
    display: flex;
    width: 100%;
}

.logo-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:$bg-light-color;
}

.logo-header {
    padding-top: 21px;
    padding-bottom: 14px;  
    
    img {
        display: block;
        width: 186px;
        height: 28px;
        background-size: 100%;
        }
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:$grey--location;
    width: 100%;
    height: 50px;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2) inset ;

    a {
        font-size: 16px;
        font-weight: 500;
        padding-left: 15px;
        }
}

/****** Lien Go Back Header ***********/
.icon-goback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 63px;
    position: absolute;
    top: 0px;
    left: 14px;

    a {
        color: $dark-grey-plus;
        }
}

/****** Réservez et Fonctionnement ***********/
.reserver-explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        padding: 20px 0px 15px 0px;
        }

    h2 {
        text-align: center;
        }
}


/****** Lien - Explorer nos restaurants ***********/
.cta {
    @include cta-button;
  }

.cta:hover {
    @include cta-button-hover;
  }


/****** Fonctionnement ***********/  
.fonctionnement {
    background-color:$bg-light-color;
    padding: 50px 10px 50px 20px;
}

.buttons-fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px 20px 10px;
}

.btn-fonctionnement {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.card { 



    button { 
      @include cta-button-light;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      width: 100%;
    }

    i {
    color: $grey-icon;
    padding-right: 20px;
    padding-left: 10px;
    }

    i:hover {
    color: $purple;
    }
}

.puce-number {
    display: block;
    width: 15px;
    height: 15px;
    background-color:$purple;
    color: $bg-light-color;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    margin-top: -45px;
    margin-left: -10px;
}


