/****** Colors ***********/
$light-grey: #f3f3f3;
$dark-grey: #101010;
$dark-grey-plus: #353535;
$dark-max: #000000;
$grey-icon: #7e7e7e;
$grey--location: #eaeaea;
$bg-grey-color: #f6f6f6;
$bg-light-color: #ffffff;
$purple: #9356dc;
$green-light:#99E2D0;
$green:#008766;
$black: #000000;

/****** Mixins ***********/
@mixin cta-button {
  display: inline-block;
  background: rgb(147, 86, 220);
  background: linear-gradient(
    354deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  border-radius: 50px;
  padding: 16px 30px;
  margin: 30px 0px 30px 0px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

@mixin cta-button-hover {
  background: rgb(147, 86, 220);
  background: linear-gradient(
    349deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 0.7511379551820728) 100%
  );
}

@mixin cta-button-light {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 55px 22px 25px;
  background: $bg-grey-color;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

/****** Fonts ***********/
* {
  font-family: "Roboto", sans-serif;
}

.ohmyfood-font {
  font-family: "Shrikhand", cursive;
}

/****** General ***********/
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-grey-color;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: $black;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 5px;

    img {
      object-fit: cover;
    }
  }

/****** Header ***********/
header {
  display: flex;
  width: 100%;
}

.logo-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $bg-light-color;
}

.logo-header {
  padding-top: 21px;
  padding-bottom: 14px;

  img {
    display: block;
    width: 186px;
    height: 28px;
    background-size: 100%;
  }
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $grey--location;
  width: 100%;
  height: 50px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;

  a {
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
  }
}

/****** Lien Go Back Header - Page Restaurants ***********/
.icon-goback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 63px;
  position: absolute;
  top: 0px;
  left: 14px;

  a {
    color: $dark-grey-plus;
  }
}

/****** Réserver-et-Fonctionnement ***********/
.reserver-fonctionnement {
  display: flex;
  flex-direction: column;
}

/****** Réservez et Fonctionnement ***********/
.reserver-explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 30px 0px;

  h1 {
    text-align: center;
    padding: 20px 0px 15px 0px;
    
  }

  h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: $dark-grey-plus;
  }
}

/****** Lien - Explorer nos restaurants ***********/

.cta {
  @include cta-button;

    &:hover {
      @include cta-button-hover;
    }
}


/****** Fonctionnement ***********/
.fonctionnement {
  background-color: $bg-light-color;
  padding: 50px 10px 40px 20px;

  h2 {
    padding: 0px 0px 20px 0px;
  }
}

.button-fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .card {
    @include cta-button-light;

    a {
      color: $dark-max;
      padding-left: 15px;
    }

    i {
        display: block;
        float: left;
        color: $grey-icon;
        padding-top: 7px;
        margin-right: 20px;
        font-size: 18px;
    }

    &:hover {
      cursor: pointer;
    
      i {
        color: $purple;
      }
    }
  }

  .puce-number {
    display: block;
    width: 15px;
    height: 15px;
    background-color: $purple;
    color: $bg-light-color;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    margin-left: -40px;
    margin-right: 10px;
  }
}

  /****** Restaurants - Global ***********/
  
  .restaurants {
    padding: 50px 17px 60px 17px;

    h2 {
      padding-bottom: 15px;
    
    }
  }
  
  .restaurant-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 11px;
    margin-top: 5px;

      .card {
        padding: 0px;
        padding-bottom: 3px;  
        }
        
      img {
          width: 100%;
          height: 170px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
      }

      h3 {
        font-size: 18px;
        color: #000;
        text-align: left;
        font-weight: 700;
        letter-spacing: 0.02rem;
        padding-bottom: 3px;
      }

      a {
        font-weight: 300;
        padding-top: 4px;
        padding-bottom: 3px;
      }
    }
  
  .box-restaurant article.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  } 

  .card-content { 
    display: flex;
    padding: 15px;

    .restaurant-name {
      width: 90%;
    }
    
    .heart {
      width: 10%;
      padding-top: 8px;
      text-align: right;
      margin-right: -65px;
    }

    .material-symbols-sharp {
      font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' -25,
        'opsz' 48;
        font-size: 30px;      
        background:#000000;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
       }

    .fill .material-symbols-sharp {
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' -25,
        'opsz' 48;
        font-size: 28px;      
        background:-moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%); 
        background: -webkit-linear-gradient(top, #FF79DA 0%,#9356DC 100%); 
        background: linear-gradient(to bottom, #FF79DA 0%,#9356DC 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
       }
  }

.new-restaurant {
  display: block;
  float: right;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  background-color: $green-light;
  color: $green;
  border-radius: 3px;
  padding: 7px 14px 6px 12px;
  margin-top: -160px;
  margin-right: 12px;
  z-index: 600;
}

  /****** Footer ***********/

  footer {
    display: flex;
    flex-direction: column;
    background-color: $dark-grey-plus ;
    color: $bg-light-color;
    padding: 22px 25px 12px 25px;

    h1 {
      padding-bottom: 18px;
      font-size: 18px;
      font-weight: 100;
    }

    .footer-links {
      display: flex;
      flex-direction: column;
    }

    a {
      color: $bg-light-color;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 9px;
    }

    i {
      width:25px;
    }

  }

